.header{
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    justify-content: center;
}
.w3schools-logo{
    font-size: 37px;
    color: #555555;
    margin-left: 25px;
    
}
.dotcom{
    color: #4CAF50;
}
.title{
    font-family: Segoe UI,Arial,sans-serif;
    font-size: 15px;
    width: 500px;
    margin-left: 200px;

    
}
.nav-bar{
    display: flex;
    background-color: #4CAF50;
    height: 58px;
    align-items: center;
    color: white;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.8);
    font-family:  "Segoe UI",Arial,sans-serif;
}
.nav-bar-block{
    width: 190px;
    display: flex;
    height: 58px;
    justify-content: center;
    align-items: center;
}

.nav-bar-block:hover{
    color: white;
    cursor: pointer;
    background-color: white;
    color: black;
}