/* Mobile Devices (Samsung Galaxy S5)*/
@media screen and (min-width:321px) and (max-width:360px){
  body{
      overflow-x: hidden;
     }
     .Navigation-bar{
           width: 360px;
           font-size: 4px;
           background-color: rgb(8, 4, 8);
           color: white;
           display: flex;
           height: 55px;
         }
      .title {
        font-size: 25px;
        margin-left: 0px;
        margin-right: 40px;
        }
      .social-media-links {
      width: 360px;
    }
  .social-media-icon {
      width: 26px;
      margin: 8px;
    }
   .nav-item {
      z-index: 1;
      margin-top: 4260px;
      margin-bottom: 20px;
    }
   .frontpreview {
         width: 360px;
    }
    .container-1 {
            font-size: 13px;
            margin-right: 30px;
    }
    .svg {
        position: absolute;
        left: 133px;
        display: flex;
        justify-content: center;
    }
    .Sidebar {
          color: white;
          width: 10px;
          visibility: hidden;
    }
    .music-card {
        width: 250px;
        border-style: none;
    }
    .like-button {
          visibility: hidden;
    }
    .dislike-button{
          visibility: hidden;
    }  
}

/* Mobile Devices (Iphone 6,7,8) */
@media screen and (min-width: 361px) and (max-width:375px){
 body{
  overflow-x: hidden;
 }
 .Navigation-bar{
       width: 375px;
       font-size: 4px;
       background-color: rgb(8, 4, 8);
       color: white;
       display: flex;
       height: 55px;
     }
  .title {
    font-size: 21px;
    margin-left: 0px;
    margin-right: 40px;
    }
  .social-media-links {
      width: 375px;
    }
  .social-media-icon {
      width: 26px;
      margin: 8px;
    }
   .nav-item {
      z-index: 1;
      margin-top: 4260px;
      margin-bottom: 20px;
    }
   .frontpreview {
         width: 375px;
    }
    .container-1 {
            font-size: 14px;
            margin-right: 30px;
    }
    .svg {
        position: absolute;
        left: 133px;
        display: flex;
        justify-content: center;
    }
    .Sidebar {
          color: white;
          width: 10px;
          visibility: hidden;
    }
    .music-card {
        width: 270px;
        border-style: none;
    }
    .like-button {
          visibility: hidden;
    }
    .dislike-button{
          visibility: hidden;
    }

}

/* Mobile Devices */
@media screen and (min-width:376px) and (max-width:384px){
   body{
  overflow-x: hidden;
 }
 .Navigation-bar{
       width: 375px;
       font-size: 4px;
       background-color: rgb(8, 4, 8);
       color: white;
       display: flex;
       height: 55px;
     }
  .title {
    font-size: 21px;
    margin-left: 0px;
    margin-right: 40px;
    }
  .social-media-links {
      width: 375px;
    }
  .social-media-icon {
      width: 26px;
      margin: 8px;
    }
   .nav-item {
      z-index: 1;
      margin-top: 4260px;
      margin-bottom: 20px;
    }
   .frontpreview {
         width: 375px;
    }
    .container-1 {
            font-size: 14px;
            margin-right: 30px;
    }
    .svg {
        position: absolute;
        left: 142px;
        display: flex;
        justify-content: center;
    }
    .Sidebar {
          color: white;
          width: 10px;
          visibility: hidden;
    }
    .music-card {
        width: 270px;
        border-style: none;
    }
    .like-button {
          visibility: hidden;
    }
    .dislike-button{
          visibility: hidden;
    }
}

/* Mobile Devices Iphone 12/13 Pro*/
@media screen and (min-width:385px) and (max-width:390px){

   body{
  overflow-x: hidden;
 }
 .Navigation-bar{
       width: 390px;
       font-size: 4px;
       background-color: rgb(8, 4, 8);
       color: white;
       display: flex;
       height: 55px;
 }
 .title {
    font-size: 24px;
    margin-left: 0px;
    margin-right: 40px;
 }
  .social-media-links {
      width: 390px;
 }
  .social-media-icon {
      width: 26px;
      margin: 8px;
 }
   .nav-item {
      z-index: 1;
      margin-top: 4260px;
      margin-bottom: 20px;
    }
   .frontpreview {
         width: 375px;
    }
    .container-1 {
            font-size: 14px;
            margin-right: 30px;
    }
    .svg {
        position: absolute;
        left: 142px;
        display: flex;
        justify-content: center;
    }
    .Sidebar {
          color: white;
          width: 10px;
          visibility: hidden;
    }
    .music-card {
        width: 270px;
        border-style: none;
    }
    .like-button {
          visibility: hidden;
    }
    .dislike-button{
          visibility: hidden;
    }
}


/* Mobile Devices iphone XR (414px) */
@media screen and (min-width:391px) and (max-width:414px) {

  body {
  overflow-x: hidden;
 }
 .Navigation-bar {
       width: 414px;
       font-size: 4px;
       background-color: rgb(8, 4, 8);
       color: white;
       display: flex;
       height: 55px;
     }
  .title {
    font-size: 25px;
    margin-left: 0px;
    margin-right: 40px;
    }

  .social-media-links {
      width: 414px;
    }
  .social-media-icon {
      width: 28px;
      margin: 8px;
    }
   .nav-item {
      z-index: 1;
      margin-top: 4260px;
      margin-bottom: 20px;
      
    }
   .frontpreview {
         width: 414px;
    }
    .container-1 {
            font-size: 15px;
            margin-right: 30px;
    }
    .svg {
        position: absolute;
        left: 155px;
        display: flex;
        justify-content: center;
    }
     .Sidebar {
          color: white;
          width: 10px;
          visibility: hidden;
    }
    .music-card {
        width: 350px;
        border-style: none;
    }
    .like-button {
          visibility: hidden;
    }
    .dislike-button{
          visibility: hidden;
    }
}

/* Mobile Devices IPhone 12/13 Pro Max */
@media screen and (min-width:415px) and (max-width:428px){
 body {
  overflow-x: hidden;
 }
 .Navigation-bar {
       width: 428px;
       font-size: 4px;
       background-color: rgb(8, 4, 8);
       color: white;
       display: flex;
       height: 55px;
     }
  .title {
    font-size: 29px;
    margin-left: 0px;
    margin-right: 40px;
    }

  .social-media-links {
      width: 428px;
    }
  .social-media-icon {
      width: 28px;
      margin: 8px;
    }
   .nav-item {
      z-index: 1;
      margin-top: 4260px;
      margin-bottom: 20px;
      
    }
   .frontpreview {
         width: 428px;
    }
    .container-1 {
            font-size: 15px;
            margin-right: 30px;
    }
    .svg {
        position: absolute;
        left: 155px;
        display: flex;
        justify-content: center;
    }
     .Sidebar {
          color: white;
          width: 10px;
          visibility: hidden;
    }
    .music-card {
        width: 350px;
        border-style: none;
    }
    .like-button {
          visibility: hidden;
    }
    .dislike-button{
          visibility: hidden;
    }

}

/* Tablets Nexus 7 Android 6.0.1*/
@media screen and (min-width: 429px) and (max-width:600px){
  body{
      overflow-x: hidden;
     }
     .Navigation-bar{
           width: 600px;
           font-size: 4px;
           background-color: rgb(8, 4, 8);
           color: white;
           display: flex;
           height: 60px;
         }
      .title {
        font-size: 45px;
        margin-left: 0px;
        margin-right: 40px;
        }
  
      .social-media-links {
          width: 600px;
        }
      .social-media-icon {
          width: 29px;
          margin: 8px;
        }
      .nav-item {
      z-index: 1;
      margin-top: 4250px;
      margin-bottom: 20px;
    }  
      .Sidebar {
          width: 200px;
    }
    .music-card {
        width: 370px;
    }
    .frontpreview {
         width: 600px;
    }
    .container-1 {
            font-size: 23px;
    }
    .svg {
        position: absolute;
        left: 238px;
        display: flex;
        justify-content: center;
    } 
}

/* Tablets ipad air*/
@media screen and (min-width: 601px) and (max-width: 768px){

  body{
      overflow-x: hidden;
     }
     .Navigation-bar{
           width: 768px;
           font-size: 4px;
           background-color: rgb(8, 4, 8);
           color: white;
           display: flex;
           height: 74px;
      }
     .title {
       font-size: 50px;
       margin-left: 0px;
       margin-right: 180px;
       }
 
     .social-media-links {
         width: 768px;
       }
     .social-media-icon {
         width: 35px;
         margin: 10px;
       }
      .nav-item {
      z-index: 1;
      margin-top: 4260px;
      margin-left: 5px;
      border: 1px solid rgb(189, 187, 187);
      border-radius: 5px;
    }
    .music-card {
        width: 530px;
    }
    .frontpreview {
         width: 768px;
    }
    .container-1 {
            font-size: 29px;
    }
    .svg {
        position: absolute;
        left: 340px;
        display: flex;
        justify-content: center;
    }
    .footer{
      margin-top: 50px;
    }    
}

/*Small laptops and desktops*/
@media screen and (min-width: 1024px){}


/* Medium Sized Desktops */
@media screen and (min-width: 1200px){}

/* Large Desktops */
@media screen and (min-width: 1440px){}