.Uber{
    background-color: black;
    color:white;
    font-weight: bold;
    padding-left: 25px;
    padding-top: 12px;
    padding-right: 25px;
    padding-bottom:12px ;
    margin-right: 60px;
    cursor: pointer;
    transition: 0.5s;

}
.Uber:hover{
    opacity: 0.8;

}
.Amazon{
    color:black;
    background-color: rgb(255,217,0);
    font-weight: bold;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-color: rgb(255, 217, 0);
    margin-right: 60px;
    
}
.Amazon:hover{
    opacity: 0.6;
}
.Github{
    color:rgb(255,255,255);
    font-weight: bold;
    background-color: rgb(9, 192, 9);
    padding-left: 18px;
    padding-top: 9px;
    padding-right: 18px;
    padding-bottom:9px ;
    border-radius: 6px;
    border-color: rgb(9, 192, 9);
    cursor: pointer;
    transition: 0.4s;
    
}
.Github:hover{
    box-shadow: 1px 10px 20px rgba(0, 0, 0,0.20);
}