:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}
.blob-icon{
    width: 90px;
}

.Downloads-card{
  border-radius: 14px;
  background-color: black;
  color:white;
}
.download-button{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 1px solid rgb(185, 185, 185);
  font-size: 12px;
  background-color: white;
}
.download-button:hover{
color: rgb(255, 255, 255);
background-color: rgb(255, 31, 68);
border-style: none;
box-shadow: 5px 4px 20px rgb(253, 52, 102);

}
.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
.navbar-color{
  background-color: rgb(0, 0, 0);
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
