.Nav-bar{
    background-color: rgb(19, 25, 33);;
    display: flex;
    flex-direction: row;
    height: 55px;

}
.flex-item-1{
flex: 1;
color:white ;
display: flex;
align-items: center;
margin-left: 20px;
}

.flex-item-2{
flex: 3 ;
color: white;
display: flex;
align-items: center;

}
.flex-item-3{
flex: 1;
color:white ;
display: flex;
align-items: center;
}
.amazon-logo{
    height: 33px;

}
.search-bar{
    width: 750px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    border-top-left-radius:6px ;
    border-bottom-left-radius: 6px;
    border-style: none;

}
.search-bar::placeholder{
    font-size: 17px;
}
.search-icon{
    height: 30px;
}
.search-icon-dev{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 189, 105);
    padding: 5px 8px 4px 8px;
    margin-left: -2px;
    margin-bottom: px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

}
.cart-icon{
    height: 35px;
}
.cart-icon-dev{
    margin-left: 10px;
}
.flex-item-4{
    margin-left: 60px;
}
